<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<script src="static/js/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/styles.css" >
</head>
<body>
<div id="app">
  <h1>Barrie payments panel</h1>

  <div> Scan een NFC kaart </div>
  <div> Laatst gescande tag: </div>
  <button class="btn">
    [[ tag_id ]]
  </button>
  <button class="btn btn-primary">Delete bestellingen voor deze tag</button>

  <div>Orders by this card:</div>
  <p> [[ loadingtext ]]</p>
  <ul>
    <li v-for="order in orders">[[ order ]]</li>
  </ul>

<div id="prices">
  <h3>Prijzen:</h3>
  <ul>
    <li v-for="price in prices">[[ price.name ]]
      <input type="number" v-model="price.prijs" />
      <button v-on:click="setprice" class="btn btn-primary">Pas aan</button>
    </li>
  </ul>
</div>

</div>

<script src="static/js/myscript.js"> </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
